<%# Locals: domain, hand, membership. %>
<div class="cards">
  <%= form_with url: domain_hand_path(domain.slug), method: :post, id: "assistance-form" do |f| %>

    <label for="assistance-form-question">
      <strong class="fs-5"><%= t("hands.summary") %><br></strong>
      <%= t("hands.briefly_summarize") %>:
    </label>
    <%= f.text_area :question,
                id: "assistance-form-question",
                rows: 3,
                required: true,
                placeholder: "",
                autofocus: true %>

    <% if domain.link_mode? %>
      <label for="assistance-form-location">
        <strong class="fs-5"><%= t("hands.link") %><br></strong>
        <%= t("hands.enter_link", type: domain.location_type) %>:
      </label>
      <input
        id="assistance-form-location"
        type="text"
        name="location"
        required
        placeholder="<%= t("hands.link") %>"
        style="margin-top:0.5em"
        value="<%= membership.last_location %>"
        pattern="https://.*zoom\.us/j/.*"
        autocomplete="off"
      >
    <% elsif domain.ask_location? %>
      <label for="assistance-form-location">
        <strong class="fs-5"><%= t("hands.location") %><br></strong>
        <%= t("hands.enter_location", type: domain.location_type) %>:
      </label>
      <input
        id="assistance-form-location"
        type="text"
        name="location"
        required
        placeholder=""
        value="<%= membership.last_location %>"
        autocomplete="off"
      >
    <% end %>

    <div class="d-grid">
      <button
        id="ask-button"
        type="submit"
        class="btn"
        data-loading-text="<%= t("hands.posting_question") %>"
      ><%= t("hands.ask_for_assistance") %></button>
    </div>
  <% end %>
</div>
